<!--It's just a concept, a chat UI design for direct messaging!
Enjoy! :) Don't forget to click the heart if you like it! -->


<div id="chat-box">
    <div class="container">
        <div class="chatbox">
            <div class="top-bar">
                <div class="avatar">
                    <p>V</p>
                </div>
                <div class="name">Voldemort</div>
                <div class="icons">
                    <i class="fas fa-phone"></i>
                    <i class="fas fa-video"></i>
                </div>
                <div class="menu">
                    <div class="dots"></div>
                </div>
            </div>
            <div class="middle">
                <div class="voldemort">
                    <div class="incoming">
                        <div class="bubble">Hey, Father's Day is coming up..</div>
                        <div class="bubble">What are you getting.. Oh, oops sorry dude.</div>
                    </div>
                    <div class="outgoing">
                        <div class="bubble lower">Nah, it's cool.</div>
                        <div class="bubble">Well you should get your Dad a cologne. Here smell it. Oh wait! ...</div>
                    </div>
                    <div class="typing">
                        <div class="bubble">
                            <div class="ellipsis one"></div>
                            <div class="ellipsis two"></div>
                            <div class="ellipsis three"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-bar">
                <div class="chat">
                    <input type="text" placeholder="Type a message..." />
                    <button type="submit"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
        <div class="messages">
            <div class="user-online">User Online (3)</div>
        </div>
        <div class="profile">
            <div class="avatar">
                <p>H</p>
            </div>
            <div class="name2">Admin<p class="email">Admin@gmail.com</p>
            </div>
        </div>
        <ul class="people">
            <li class="person focus">
                <div class="title">Voldemort </div>
                <div class="preview">What are you getting... Oh, oops...</div>
            </li>
            <li class="person">
                <div class="title">Ron</div>
                <div class="preview">Meet me at Hogsmeade and bring...</div>
            </li>
            <li class="person">
                <div class="title">Hermione</div>
                <div class="preview">Have you and Ron done your hom...</div>
            </li>
        </ul>
    </div>

</div>

<script src="/js/message/message.js"></script>