<section id="page-header" class="blog-header">
    <h2>#readmore</h2>
    <p>Real all studies about our product!</p>
</section>
<section id="blog">
    <div class="blog-box">
        <div class="blog-img">
            <img src="img/blog/b1.jpg" src="">
        </div>
        <div class="blog-details">
            <h4>THe cotton-Jersey Zip-Up hoodie</h4>
            <p>Wwaooooo thật là sexy girlll, Có một cô gái vô cùng xinh đẹp với nụ cười tươi tắn và đôi mắt long lanh.
                Ngoại hình của cô gái rất quyến rũ và thu hút mọi ánh nhìn. Không chỉ vẻ ngoại hình, cô gái còn có một
                tâm hồn tốt và tinh thần lạc quan, luôn lan tỏa sự ấm áp và lạc quan đến mọi người xung quanh...</p>
            <a href="#">COUNTINUE READING</a>
        </div>
        <h1>15/08</h1>
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="img/blog/b2.jpg" src="">
        </div>
        <div class="blog-details">
            <h4>THe cotton-Jersey Zip-Up hoodie</h4>
            <p>Wwaooooo thật là sexy girlll, Có một cô gái vô cùng xinh đẹp với nụ cười tươi tắn và đôi mắt long lanh.
                Ngoại hình của cô gái rất quyến rũ và thu hút mọi ánh nhìn. Không chỉ vẻ ngoại hình, cô gái còn có một
                tâm hồn tốt và tinh thần lạc quan, luôn lan tỏa sự ấm áp và lạc quan đến mọi người xung quanh...</p>
            <a href="#">COUNTINUE READING</a>
        </div>
        <h1>15/08</h1>
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="img/blog/b3.jpg" src="">
        </div>
        <div class="blog-details">
            <h4>THe cotton-Jersey Zip-Up hoodie</h4>
            <p>Wwaooooo thật là sexy girlll, Có một cô gái vô cùng xinh đẹp với nụ cười tươi tắn và đôi mắt long lanh.
                Ngoại hình của cô gái rất quyến rũ và thu hút mọi ánh nhìn. Không chỉ vẻ ngoại hình, cô gái còn có một
                tâm hồn tốt và tinh thần lạc quan, luôn lan tỏa sự ấm áp và lạc quan đến mọi người xung quanh...</p>
            <a href="#">COUNTINUE READING</a>
        </div>
        <h1>15/08</h1>
    </div>
    <div class="blog-box">
        <div class="blog-img">
            <img src="img/blog/b4.jpg" src="">
        </div>
        <div class="blog-details">
            <h4>THe cotton-Jersey Zip-Up hoodie</h4>
            <p>Wwaooooo thật là sexy girlll, Có một cô gái vô cùng xinh đẹp với nụ cười tươi tắn và đôi mắt long lanh.
                Ngoại hình của cô gái rất quyến rũ và thu hút mọi ánh nhìn. Không chỉ vẻ ngoại hình, cô gái còn có một
                tâm hồn tốt và tinh thần lạc quan, luôn lan tỏa sự ấm áp và lạc quan đến mọi người xung quanh...</p>
            <a href="#">COUNTINUE READING</a>
        </div>
        <h1>15/08</h1>
    </div>
</section>
<section id="Panigation" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
</section>
{{>newsletter}}

<script>
    let navs = document.querySelectorAll("#navbar li a")
    navs[2].classList.add("active")
</script>