{{!-- <section id="header">
    <a href="/admin"><img src="/img/logo.png" class="logo" alt="" /></a>
    <div>
        <ul id="navbar">
            <li id="admin__home">Home</li>
            <li id="admin__product">Product</li>
            <li id="admin__blog">Blog</li>
            <li id="admin__message">Message</li>
            <li id="admin__contact">Contact</li>
            <li id="admin__cart">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </li>
            <li><a></a></li>
        </ul>
    </div>
</section> --}}

<h1>Welcome to Admin home Page</h1>

{{!--
<script src="/js/clientSocketIO/admin.js"></script> --}}
{{!--
{{!--
<script src="/js/admin/admin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> --}}