<section id="page-header" class="about-header">

    <h2>#Knows us</h2>

    <p>Lorem iprum dolor sit amet, consectetur!</p>

</section>
<section id="about-head" class="section-p1">
    <img src="img/about/a6.jpg" alt="">
    <div>
        <h2>Who We Are</h2>
        <p>Tự tin, phong cách và sự đa dạng là triết lý cốt lõi tại ABout Us. Chúng tôi không chỉ cung cấp những bộ
            trang phục thời trang hàng ngày mà còn là nguồn cảm hứng để bạn thể hiện phong cách riêng. Với chất lượng
            hàng đầu và dịch vụ tận tâm, chúng tôi cam kết mang đến trải nghiệm mua sắm đáng nhớ và hài lòng nhất cho
            khách hàng. </p>
        <abbr title="">'OOTD' là viết tắt của 'Outfit of the Day', thường được sử dụng để mô tả trang phục mặc trong
            ngày.</abbr>
        <br><br>
        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">Create stunning images wish as much or.....
        </marquee>
    </div>
</section>
<section id="about-app" class="section-p1">
    <h1>Download Our App <a href="#">App</a> </h1>
    <div class="video">
        <video autoplay muted loop src="img/about/1.mp4"></video>
    </div>
</section>
{{>feature}}

{{>newsletter}}

<script>
    let navs = document.querySelectorAll("#navbar li a")
    navs[3].classList.add("active")
</script>