<section id="header">
    <a href="/"><img src="/img/logo.png" class="logo" alt="" /></a>
    <div>
        <ul id="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li>
                <a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="/chat"><i class="fa-solid fa-comments"></i></a>
            </li>
            <li><a href="/auth"></a></li>
        </ul>
    </div>
</section>

<script src="/js/header.js"></script>