<section id="header">
    <a href="/admin"><img src="/img/logo.png" class="logo" alt="" /></a>
    <div>
        <ul id="navbar">
            <li><a href="/admin">User</a></li>
            <li><a href="/admin/product">Product</a></li>
            <li><a href="/admin/blog">Blog</a></li>
            <li><a href="/admin/contact">Contact</a></li>
            <li>
                <a href="/admin/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="/admin/message"><i class="fa-solid fa-comments"></i></a>
            </li>
            <li><a></a></li>
        </ul>
    </div>
</section>
<script src="/js/header.js"></script>