<section id="newsletter" class="section-p1" class="section-m1">
    <div class="newtext">
        <h4>Sign Up for newsletter</h4>
        <p>Get email update and <span>special offer</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address" />
        <button class="normal">Sign Up</button>
    </div>
</section>