<div id="chat-box">
    <div>
        <div id="left-block">
            <h3>User Online</h3>
            <ul id="user-list" class="admin">
                <!-- Dùng JavaScript để đổ dữ liệu user vào đây -->
            </ul>
        </div>
        {{!-- <div class="screen join-screen active">
            <div class="form">
                <h2>Join chatroom</h2>
                <div class="form-input">
                    <label for="">Username</label>
                    <input type="text" id="username">
                </div>
                <div class="form-input">
                    <button id="join-user">Join</button>
                </div>
            </div>
        </div> --}}
        <div id="right-block">
            <div class="screen chat-screen active">
                <div class="header">
                    <div class="logo">chatroom</div>
                    <button id="exit-chat">Exit</button>
                </div>
                <div class="messages">
                    {{!-- Dummy Message --}}

                    {{!-- <div class="update">
                        abc is joined the conversation
                    </div> --}}

                </div>
                <div class="typebox">
                    <input type="text" id="message-input" class="admin">
                    <button type="button" id="send-message" class="admin">Send
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>